body {
	background-image: url("../images/eightiesbackground.jpg");
}
.jumbotron {
	color:blue;
	background-color: yellow;
	box-sizing: border-box;
  	height: 400px;
  	margin-top: 20px;
}
h1{
  	font-weight: bold;
  	text-align: center;
  	color:blue;
  	padding-top: 2.5%;
}

#wrapper {
  	margin:2.5% auto;
  	width:960px;
  	height: 95%;
  	box-sizing: border-box;

}
#box{
	padding-top:20px;
}

button{
  	display:block;
  	width:50%;
  	height:20%;
  	margin: 0 auto;
  	border:none;
  	cursor: pointer;
  	background:transparent;
  	font-size: 42px;;
}

img{
  	height:200px;
  	text-align: center;
}

#start{
  margin-top: 10%;

}